*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#caixa {
    height: 500px;
    width: 500px;
    background-color: white;
    width: 700px;
    height: 550px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: #000 9px 9px 24px 5px;

    display: flex;
    align-items: center;

    padding-left: 5%;
}
#footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.cabeça-agulha{
    width: 12%;
    height: 14%;
    border-radius: 60px;
    background-color: black;

    position: relative;
    top: -186px;
    left: 52px;

    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    animation: none;
}
.corpo-agulha {
    width: 37%;
    height: 219%;
    background-color: #000;
    transform: translateY(20%);
    border-radius: 9px;
    box-shadow: #000000bf 10px 3px 10px 1px;
}
.corpo-agulha2 {
    width: 71%;
    height: 106%;
    background-color: #000;
    transform: translateY(88%);
    rotate: 35deg;
    position: relative;
    left: 52px;
    top: 6%;
    border-radius: 20px;
    box-shadow: #000000bf 10px 10px 11px 1px;
}
.agulha{
    width: 157%;
    height: 22%;
    background-color: beige;
    position: relative;
    top: 146px;
    left: -5px;
}/*
.tampa {
    width: 23.6%;
    height: 462%;
    border-radius: 40px;
    background-color: black;

}*/

@keyframes rodar {
    0%{
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes agulha-play {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(19deg);
    }
}
@keyframes tremer-agulha{
    0%{
        transform: rotate(0deg); 
    }
    20%{
        transform: rotate(0.9deg);
    }
    45%{
        transform: rotate(0.5deg);
    }
    47%{
        transform: rotate(0.7deg);
    }
    49%{
        transform: rotate(0.5deg);
    }
    75%{
        transform: rotate(0.8deg);
    }
    86%{
        transform: rotate(0.5deg);
    }
    100%{
        transform: rotate(0deg);

    }
}

#play-btn {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: aliceblue;
    border: none;
}

.caixa-volume {
    rotate: 270deg;
    height: fit-content;
    width: fit-content;

    position: relative;
}
#volume {
    height: 18px;
    width: 180px;
}


@media(orientation: portrait){
    #caixa{
        height: 45.54%;
        width: 100%;
    }
    .tampa{
        width: 24%;
        height: 469%;
        top: -15px;
        left: 8px;
    }
    .vinil {
        min-width: 304px;
        min-height: 304px;
    }
    .caixa-volume {
        position: relative;
        left: -48px;    
    }
    .cabeça-agulha {
        width: 13%;
        height: 7.3%;

        position: absolute;
        top: 190px;
        left: 295px;

    }
    
}

input[type=range] {
    height: 37px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 29px;
    width: 19px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 29px;
    width: 19px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 29px;
    width: 19px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }
