*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#caixa {
    height: 500px;
    width: 500px;
    background-color: aqua;
    width: 700px;
    height: 550px;

    display: flex;
    align-items: center;

    padding-left: 5%;
}
#footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.cabeça-agulha{
    width: 12%;
    height: 14%;
    border-radius: 60px;
    background-color: black;

    position: relative;
    top: -186px;
    left: 52px;

    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}
.corpo-agulha {
    width: 37%;
    height: 219%;
    background-color: #000;
    transform: translateY(20%);
    border-radius: 9px;
    box-shadow: #000000bf 6px 10px 3px;
}
.corpo-agulha2 {
    width: 71%;
    height: 106%;
    background-color: #000;
    transform: translateY(88%);
    rotate: 35deg;
    position: relative;
    left: 52px;
    top: 6%;
    border-radius: 20px;
    box-shadow: #000000bf 11px 2px 3px;
}
.agulha{
    width: 157%;
    height: 22%;
    background-color: beige;
    position: relative;
    top: 146px;
    left: -5px;
}/*
.tampa {
    width: 23.6%;
    height: 462%;
    border-radius: 40px;
    background-color: black;

}*/

@keyframes rodar {
    0%{
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes agulha-play {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(19deg);
    }
}

#play-btn {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: aliceblue;
    border: none;
}

.caixa-volume {
    rotate: 270deg;
    height: fit-content;
    width: fit-content;

    position: relative;
}
#volume {
    height: 18px;
    width: 180px;
}


@media(orientation: portrait){
    #caixa{
        height: 45.54%;
        width: 100%;
    }
    .tampa{
        width: 24%;
        height: 469%;
        top: -15px;
        left: 8px;
    }
    .vinil {
        min-width: 304px;
        min-height: 304px;
    }
    .caixa-volume {
        position: relative;
        left: -48px;    
    }
    .cabeça-agulha {
        width: 13%;
        height: 7.3%;

        position: absolute;
        top: 190px;
        left: 295px;

    }
    
}